html {
    box-sizing: border-box;
}

body{
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: center;
    background-color: steelblue;
}

.logo {
    width: 75px;
    height: 75px;
}

.about {
    text-align: center;
}


.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
  height: 400px;
  border: solid 1px black;
     
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #222428;
    font-weight: bold;
    font-size: 30px;
    transition: .6s ease;
    border-radius: 0 3px 3px 0
}

.next {
    right: -50px;
    border-radius: 3px 3px 3px 3px
}

.prev {
    left: -50px;
    border-radius: 3px 3px 3px 3px
}

.prev:hover,
.next:hover {
    color: #f2f2f2;
    background-color: rgba(0, 0, 0, 0.8)
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding-top: 12px;
  padding-bottom: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #222428
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .6s ease
}

.active,
.dot:hover {
    background-color: #717171
}

.member1, .member2, .member3, .member4, .member5 {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 400px;
    margin: 5px; 
    padding: 25px;
    background-color: steelblue;
    border-radius: 15px;
}

.teamSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer {
    background-color: steelblue;
}